<div class="d-none d-md-block mb-3">
  <img class="cover-page" src="/img/edificiod.png" alt="edificio d de la utl" />
</div>

<section class="mt-5">
  <div class="row mb-3">
    <div class="col">
      <form class="d-flex p-3" action="/articulo/buscar" method="POST" role="buscar">
        <input
          class="form-control w-75"
          type="search"
          placeholder="Buscar"
          aria-label="Buscar"
          name="searchTerm"
        />
      </form>
    </div>
    <div class="col">
      <h1 class="text-center"><%= locals.header %></h1>
    </div>
    <div class="col text-end">
      <% if (nextPage !== null) { %>
      <a href="/?pagina=<%= nextPage %>" class="btn btn-dark"
        >&lt; Ver otros posts</a
      >
      <% } %>
    </div>
  </div>
  <div class="row align-items-md-stretch mb-3">
    <% data.forEach(article => { %>
    <a
      class="col-md-6 text-decoration-none mb-3"
      href="/articulo/<%= article._id %>"
    >
      <div class="h-100 p-5 text-bg-dark rounded-3">
        <div class="mb-3">
          <h2><%= article.title %></h2>
          <small class="font-monospace"><%= article.created_at.toDateString() %></small>
          <br />
          <small class="font-monospace">creado por <%= article.author != null ? article.author.username : '[eliminado]' %></small>
        </div>
        <p><%= article.body.substring(0, 120) + '...' %></p>
        <div class="row text-center">
          <div class="col">
            <i class="fa-solid fa-thumbs-up fa-lg"></i>
            <br />
            <%= article.likes ? article.likes.length : 0 %>
          </div>
          <div class="col">
            <i class="fa-solid fa-thumbs-down fa-lg"></i>
            <br />
            <%= article.dislikes ? article.dislikes.length : 0 %>
          </div>
          <div class="col">
            <i class="fa-solid fa-comment-medical fa-lg"></i>
            <br />
            <%= data.comments ? data.comments.length : 0 %>
          </div>
        </div>
      </div>
    </a>
    <% }) %>
  </div>
</section>
